parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    router.request_context.host: engine-test-stand.demo.openconext.org
    router.request_context.scheme: https

    engineblock_url:        https://engine-test.demo.openconext.org

    # Where can we find the JANUS JSON export for IDPs and SPs?
    idps_config_url:        /tmp/saml20-sp-remote.json
    sps_config_url:        /tmp/saml20-sp-remote.json

    # Where must we store the writable state of the Mock IdP and Mock SP?
    idp_fixture_file:     fixtures/db/idp.states.php.serialized
    sp_fixture_file:      fixtures/db/sp.states.php.serialized
